DT h3{
	text-align: center;
	display:inline-block;
	margin:0 auto;
	width:50%;
	display:inline-block;
	list-style-type: none;
	background: linear-gradient(180deg, #4d6f4d, #638c63);
	padding:8px;
	border-radius:3px;
	color:white}
	



DT DT h3{

	text-align: center;
	display:inline-block;
	margin:1000px 1000px 0 0 auto;
	width:33%;
	display:inline-block;
	list-style-type: none;
	background: linear-gradient(180deg, #4d6f4d, #638c63);
	padding:8px;
	border-radius:3px;
	display:inline-block;
}
DT DT DT h3{

	text-align: center;
	display:inline-block;
	margin:1000px 1000px 0 0 auto;
	width:20%;
	display:inline-block;
	list-style-type: none;
	background: linear-gradient(180deg, #4d6f4d, #638c63);
	padding:8px;
	border-radius:3px;
	display:inline-block;
}





DT a,DT DT a,DT DT DT a {
/* dfs */
	padding:0px;
	display:inline-block;
	
	background: linear-gradient(180deg, #4d6f4d, #638c63);

	padding:7px;
	margin:2px;

	border-radius:1em;

	opacity:100%;

}

DT a:hover,DT DT a:hover,DT DT DT a:hover {

	background: linear-gradient(180deg, #000, #444);

	padding:10px;

	border-radius:1em;

	opacity:100%;

}

DT a:active,DT DT a:active,DT DT DT a:active{

	padding:10px;

	border-radius:1em;

	opacity:50%;



}
