body{
	background-color: #000;
	color: #ddd;
	font-size: 16px;
	font-family: "Century Gothic";
}
button{
	background-color: #000;
	color: #ddd;
	font-size: 16px;
	font-family: "Century Gothic";
}
